.week-calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.week-calendar-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  padding-left: 150px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.week-calendar-heading {
  display: flex;
  flex-direction: row;
  width: 12.85%;
  gap: 5px;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.week-calendar-heading h2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  font-weight: bold;
  cursor: pointer;
}

.active-date {
  background-color: rgb(72, 247, 238);
}

.week-calendar-body {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.week-calendar-table {
  width: 90%;
  height: 100%;
  border-top: 1px solid black;
  margin-left: auto;
}

.week-calendar-table td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 40px;
}

.week-calendar-hours {
  display: flex;
  flex-direction: column;
  width: 10%;
  padding-top: 40px; 
  gap: 0px;
}

.hour {
  flex: 0 0 82.6px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.week-current-time-line {
  position: absolute;
  width: 156.36px;
  height: 2px;
  background: red;
  z-index: 10;
}
