.day-calendar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.day-calendar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 20px 120px;
  padding-bottom: 8px;
  gap: 20px;
}

.day-calendar-header h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.day-calendar-header h3 {
  font-weight: 200;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.day-calendar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.day-calendar-table {
  width: 90%;
  height: 100%;
  border-top: 1px solid black;
  border-collapse: collapse; 
  margin-left: auto;
}

/* horizontal line for each row */
.day-calendar-table tr {
  border-bottom: 1px solid black;
}

.day-calendar-container {
  position: relative;
}

.current-time-line {
  position: absolute;
  left: 10%;
  right: 0;
  height: 2px;
  background: red;
  z-index: 10;
}

.day-calendar-container tr td {
  text-align: center;
  padding: 40px;
}

.hours {
  display: flex;
  flex-direction: column;
  width: 10%;
  padding-top: 40px; /* remove */
  gap: 0px;
}

.hour {
  flex: 0 0 81px; /* means: do not grow, do not shrink, fixed height 81px */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
